/**
  * IRC Message Styling
  * https://github.com/megawac/irc-style-parser
  * Colours are credit to http://clrs.cc/
  */
.irc-fg0 { color: #fff; }
.irc-fg1 { color: #000; }
.irc-fg2 { color: #001f3f; }
.irc-fg3 { color: #2ecc40; }
.irc-fg4 { color: #ff4136; }
.irc-fg5 { color: #85144b; }
.irc-fg6 { color: #b10dc9; }
.irc-fg7 { color: #ff851b; }
.irc-fg8 { color: #ffdc00; }
.irc-fg9 { color: #01ff70; }
.irc-fg10 { color: #39cccc; }
.irc-fg11 { color: #7fdbff; }
.irc-fg12 { color: #0074d9; }
.irc-fg13 { color: #f012be; }
.irc-fg14 { color: #aaa; }
.irc-fg15 { color: #ddd; }
.irc-bg0 { background: #fff; }
.irc-bg1 { background: #000; }
.irc-bg2 { background: #001f3f; }
.irc-bg3 { background: #2ecc40; }
.irc-bg4 { background: #ff4136; }
.irc-bg5 { background: #85144b; }
.irc-bg6 { background: #b10dc9; }
.irc-bg7 { background: #ff851b; }
.irc-bg8 { background: #ffdc00; }
.irc-bg9 { background: #01ff70; }
.irc-bg10 { background: #39cccc; }
.irc-bg11 { background: #7fdbff; }
.irc-bg12 { background: #0074d9; }
.irc-bg13 { background: #f012be; }
.irc-bg14 { background: #aaa; }
.irc-bg15 { background: #ddd; }

.irc-bold {
  font-weight: bold;
}

.irc-underline {
  text-decoration: underline;
}

.irc-italic {
  font-style:italic
}

/**
 * TrackpadScrollEmulator
 * Version: 1.0.6
 * Author: Jonathan Nicol @f6design
 * https://github.com/jnicol/trackpad-scroll-emulator
 */
.tse-scrollable {
	position: relative;
	overflow: hidden;
}
.tse-scrollable .tse-scroll-content {
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.tse-scrollable .tse-scroll-content::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.tse-scrollbar {
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 11px;
}
.tse-scrollbar .drag-handle {
	position: absolute;
	right: 2px;
	border-radius: 2px;
	min-height: 10px;
	width: 6px;
	opacity: 0.1;
	transition: opacity 0.2s linear;
	background: #000;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
}
.tse-scrollbar:hover .drag-handle {
	opacity: 0.25;
	transition: opacity 0 linear;
}
.tse-scrollbar .drag-handle.visible {
	opacity: 0.2;
}
.scrollbar-width-tester::-webkit-scrollbar {
	width: 0;
	height: 0;
}
