@media print {
	* {
		position: relative !important;
		overflow: visible !important;
	}
	body {
		background: #fff;
	}
	.lt,
	.rt,
	.window:before,
	.chan:before,
	.title:before {
		display: none !important;
	}
	.sidebar,
	#form,
	#sidebar {
		display: none;
	}
	#windows .header {
		border-bottom: 0;
		padding-left: 10px;
	}
	#main {
		left: 0;
	}
	#chat {
		font-size: 11px;
	}
	#chat .chat {
		bottom: 0;
		left: 0;
		top: 0;
		right: 0;
	}
	#chat .messages {
		display: block;
		padding: 5px 10px;
	}
	#chat .msg {
		display: block;
		padding: 2px 0;
	}
	#chat .msg:last-child {
		height: auto;
	}
	#chat .from,
	#chat .text,
	#chat .time {
		background: none;
		border: 0;
		display: inline;
		padding: 0;
	}
}