/* Bootstrap */
@import "variables.less";

// Core variables and mixins
@import "../bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../bower_components/bootstrap/less/normalize.less";
@import "../bower_components/bootstrap/less/print.less";
@import "../bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
@import "../bower_components/bootstrap/less/code.less";
@import "../bower_components/bootstrap/less/grid.less";
@import "../bower_components/bootstrap/less/tables.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/buttons.less";

// Components
@import "../bower_components/bootstrap/less/component-animations.less";
@import "../bower_components/bootstrap/less/dropdowns.less";
@import "../bower_components/bootstrap/less/button-groups.less";
@import "../bower_components/bootstrap/less/input-groups.less";
@import "../bower_components/bootstrap/less/navs.less";
@import "../bower_components/bootstrap/less/navbar.less";
@import "../bower_components/bootstrap/less/labels.less";
@import "../bower_components/bootstrap/less/badges.less";
@import "../bower_components/bootstrap/less/thumbnails.less";
@import "../bower_components/bootstrap/less/alerts.less";
@import "../bower_components/bootstrap/less/progress-bars.less";
@import "../bower_components/bootstrap/less/responsive-embed.less";
@import "../bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../bower_components/bootstrap/less/modals.less";
@import "../bower_components/bootstrap/less/tooltip.less";
@import "../bower_components/bootstrap/less/popovers.less";

// Utility classes
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/responsive-utilities.less";



/* Slick - A theme for Shout IRC client
*  Version 0.0.1
*	 Designed and built by @brennannovak based on original Shout Theme
*/

@white:     #FFF;
@grayLight: #e4e4e4;
@gray:      #B3B3B3;  
@grayDark:  #424242;
@black:     #222;

@blue:      #2a7ae2;
@blueHover: #1756a9;

@import "global.less";
@import "auth.less";
@import "sidebar.less";
@import "chat.less";
@import "message.less";
@import "composer.less";
@import "settings.less";
@import "misc.less";
@import "responsive.less";
@import "print.less";